* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(29,29,29,1) 88%, rgba(45,45,45,1) 96%);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--font-secondary);
  width: 100vw;
  height: 100vh;
}

.DashboardPage {
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.ResultsPage {
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.SettingsPage {
  width: 100vw;
  height: 100vh;
  z-index: 0;
}



nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
  z-index: 1;
  padding: 0.5rem;
  max-height: 5vmax;
  height: 15%;
  border-bottom: 1px solid var(--colorBusinessGlass);
}

#nav-logoTitle {
  font-size: var(--font-M1);
  color: var(--colorBone);
  font-family: var(--font-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vmax;
  font-weight: 500;
}

#nav-logoTitle>img{
  height: 80%;
  object-fit: contain;
}

.NavLink {
  margin: 0 1vw;
  text-decoration: none;
  border: 1px solid var(--colorMoonGlass);
  background-color: var(--colorBusinessGlass);
  background: var(--gradientGeist);
  backdrop-filter: blur(10px);
   /* padding: 0.5rem; DO NOT USE REMS! */
  padding: 1.5vmin;
  border-radius: 0.5rem;
  font-size: var(--font-M3);
  font-family: var(--font-primary);
  color: var(--colorBone);
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .02), 0 4px 6px rgba(0, 0, 0, .02), inset 0 0 0 2px var(--colorVentaBlack);
  
}

footer {
  background-color: rgb(213, 213, 213);
  
  position: fixed;
  bottom: 1px;
  left: 43%;
}

.style-subcomp{
  border: 2px solid var(--colorBusinessGlass);
  background: var(--gradientPhantom);
  filter: drop-shadow(0 0 1px var(--colorAsbestos));
  color: var(--colorBone);
  font-weight: 700;
  
}

.DailyActions {
  background-color: rgb(121, 208, 255);
  width: 20rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  position: fixed;
  right: 10rem;
  bottom: 10rem;
}

.EnterNewMax {
  background-color: rgb(101, 199, 112);
  width: 20rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  position: fixed;
  right: 10rem;
  top: 10rem;
}

.TodaysLift {
  background-color: pink;
  display: inline-block;
  width: 40rem;
  height: 30rem;
  border-radius: 0.5rem;
  padding: 1rem;
  position: fixed;
  bottom: 3rem;
  left: 6rem;
  color: white;
}

.Today {
  color: white;
  margin-right: auto;
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
}

.TodaysLiftSection {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
}

.MyWeek {
  padding: 1rem;
  background-color: rgb(207, 207, 207);
  border-radius: 1rem;
  width: 10rem;
  position: relative;
  top: 25rem;
  left: 2rem;
}
.MyWeek li {
  width: 8rem;
  display: inline-block;
}
.MyWeek li div {
  display: inline-block;
  position: absolute;
  right: 2rem;
}
.NewExercise {
  padding: 1rem;
  border-radius: 1rem;
  width: 15rem;
  position: absolute;
  left: 2rem;
}
.MyExercises {
  padding: 1rem;
  background-color: rgb(255, 234, 170);
  border-radius: 1rem;
  position: absolute;
  top: 5rem;
  right: 3rem;
}
.MyExercises li {
  color: white;
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(166, 177, 216);
}
