* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.DashboardPage {
  background-color: blanchedalmond;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.ResultsPage {
  background-color: blanchedalmond;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.SettingsPage {
  background-color: blanchedalmond;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0.5rem;
  z-index: 1;
  padding: 0.5rem;
}

.NavLink {
  text-decoration: none;
  border: 1px solid blue;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

footer {
  background-color: rgb(213, 213, 213);
  position: fixed;
  bottom: 1px;
  left: 43%;
}

.DailyActions {
  background-color: rgb(121, 208, 255);
  width: 20rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  position: fixed;
  right: 10rem;
  bottom: 10rem;
}

.EnterNewMax {
  background-color: rgb(101, 199, 112);
  width: 20rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  position: fixed;
  right: 10rem;
  top: 10rem;
}

.TodaysLift {
  background-color: pink;
  display: inline-block;
  width: 40rem;
  height: 30rem;
  border-radius: 0.5rem;
  padding: 1rem;
  position: fixed;
  bottom: 3rem;
  left: 6rem;
  color: white;
}
